

<h1 data-controller="item">
<%= @item.name %>
<%# <i class = "fas fa-heart"></i> %>
  <a href="#" class="btn btn-danger" data-action="item#heart">
    <% if @item.favorite_by(current_user) %>
    <i class="fas fa-heart" data-target="item.icon"></i> <!-- 加data-->
    <% else %>
    <i class="far fa-heart" data-target="item.icon"></i> <!-- 加data-->
    <% end %>
  </a>
  <%= link_to "+Cart", add_to_cart_item_path(@item), class: 'btn btn-warning',method: 'post' %>
</h1>

<h1>價錢：<%= @item.price %></h1>
<h1>分類：<%= @category %></h1>

<div data-controller="comment">
  <h3>留言</h3>
  <%= form_for(@comment, url: item_comments_path(@item), remote: true) do |form| %>

  <input type="hidden" id="item_id" value="<%= @item.id %>">

    <div class="form-group">  
      <%= form.text_area :content ,
                    class: 'form-control', 
                    data: {target: 'comment.content', 
                           action: 'keyup->comment#check'}%>
    </div>
  <%= form.submit class: 'btn btn-info', disabled: true, data: {target: 'comment.submit'} %>
  <% end %>
</div>

<hr>

<div id="comments"></div>

<% @comments.each do |comment| %>
<%= render 'comments/comment', comment: comment %>
<% end %>


