

<h1 data-controller="item">
<%= @item.name %>
<%# <i class = "fas fa-heart"></i> %>
  <a href="#" class="btn btn-danger" data-action="item#heart">
    <i class="far fa-heart" data-target="item.icon"></i> <!-- 加data-->
  </a>
</h1>

<h1>價錢：<%= @item.price %></h1>
<h1>分類：<%= @category %></h1>

<h3>留言</h3>

<%= form_for(@comment, url: item_comments_path(@item), remote: true) do |form| %>
  <div class="form-group">  
    <%= form.text_area :content ,class: 'form-control' %>
  </div>
<%= form.submit class: 'btn btn-info'%>
<% end %>

<hr>

<div id="comments"></div>

<% @comments.each do |comment| %>
<%= render 'comments/comment', comment: comment %>
<% end %>


